{
  "extends": "skyscanner",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [0],
    "react/forbid-prop-types": [2, { "forbid": ["any", "array"] }]
  }
}
